<a href="https://colab.research.google.com/github/jrakhshanda/Text-Mining/blob/main/t_!pip_install_kaggle_upgradeext_mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

In [5]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [8]:
print(df_train.shape)
df_train.head()

(27481, 4)

       textID  ... sentiment
0  cb774db0d1  ...   neutral
1  549e992a42  ...  negative
2  088c60f138  ...  negative
3  9642c003ef  ...  negative
4  358bd9e861  ...  negative

[5 rows x 4 columns]

In [9]:
df_train.describe()

            textID  ... sentiment
count        27481  ...     27481
unique       27481  ...         3
top     d1d55b6f75  ...   neutral
freq             1  ...     11118

[4 rows x 4 columns]